---
layout: default
title: Contact Congress
---

<section class="introduction">
	<h1>Contact Congress</h1>

	<p>A simple, efficient way to get in touch with your representatives.</p>

	<a href="#" class="btn">Get Started</a>
</section>

<section class="congress">
  <h1 class="">Find Your Officials</h1>
  <div id="table-main" class="container-fluid">
<!--     <div class="row">
      <div class="col-md-6">
        <h4 for="nameSearch">Search by representative name:</h4>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3">Name: </span>
          <input type="search" id="allSearch" class="form-control" placeholder="Maria">
        </div>
      </div>
      <div class="col-md-6">
        <h4 for="jetsSearch">Search with your 2 letter state abbreviation:</h4>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3">State: </span>
          <input type="search" id="stateSearch" class="search form-control" placeholder="2 Letter Code...">
        </div>
      </div>
    </div> -->
    <h3 class="text-center">ADD noscript SECTION</h3>
    <div style="overflow-x:auto">
      <table class="table main-content">
        <input type="search" id="stateSearch" class="search form-control" placeholder="2 Letter Code...">
        <thead>
          <td><b>Title</b></td>
          <td><b>Name</b></td>
          <td><b>State (D)</b></td>
          <td><b>Party</b></td>
          <td><b>Room</b></td>
          <td><b>Phone #</b></td>
          <td><b>Special Role(s)</b></td>
        </thead>
        <tbody class="list">
          {% for senator in site.data.senators %}
          <tr>
            <td>Senator</td>
            <td class="table-name"><a href="{{ senator.website }}">{{ senator.last }}, {{ senator.firstname }}</a></td>
            <td class="table-state">{{ senator.location }}</td>
            {% if senator.party == "R" %}
            <td class="table-party republican">Rep.</td>
            {% elsif senator.party == "D" %}
            <td class="table-party democrat">Dem.</td>
            {% else %}
            <td class="table-party">{{ senator.party }}</td>
            {% endif %}
            <td class="table-room">{{ senator.address }}</td>
            <td class="table-phone">{{ senator.phone }}</td>
            {% if senator.special %}
            <td class="table-special">{{ senator.special }}</td>
            {% else %}
            <td class="table-special"></td>
            {% endif %}
          </tr>
          {% endfor %}
          {% for rep in site.data.hor %}
          <tr>
            <td>Congressperson</td>
            <td class="table-name">{{ rep.name }}</a></td>
            <td class="table-state">{{ rep.state }} ({{ rep.district }})</td>
            {% if rep.party == "R" %}
            <td class="table-party republican">Rep.</td>
            {% elsif rep.party == "D" %}
            <td class="table-party democrat">Dem.</td>
            {% else %}
            <td class="table-party">{{ rep.party }}</td>
            {% endif %}        
            <td class="table-room">{{ rep.room }}</td>
            <td class="table-phone">{{ rep.phone }}</td>
            <td class="table-special">{{ rep.special }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
<script type="text/javascript">
  var options = {
    valueNames: [ 'table-state', 'table-party' ]
  };

  var userList = new List('table-main', options);
</script>