section {
	padding: 32px;

	@media screen and (min-width: 640px) {
		padding: 48px
	}
}

.introduction {
	padding: 64px 16px;
	text-align: center;
	background: $mainAccent;
	background: linear-gradient(45deg, $mainAccent 0%, $secondAccent 100%);
	color: #fff;

	@media screen and (min-width: 640px) {
		padding: 96px 48px;
	}

	h1 {
		letter-spacing: .25px;
		font-size: 48px;
		color: #fff;

		@media screen and (min-width: 640px) {
			font-size: 64px;
		}
	}

	p {
		max-width: 580px;
		margin: 24px auto;
		font-size: 24px;

		@media screen and (min-width: 640px) {
			line-height: 32px;
		}
	}
}

section h1 {
	text-align: center;
}

section a {
	color: $mainAccent;
}

.republican {
	background-color: rgba(255, 0, 0, .2); 
}

.democrat {
	background-color: rgba(0, 0, 255, .2); 
}

table {
	font-family: 'Open Sans', sans-serif;
}

thead {
	font-weight: bold;
}

tbody tr {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
}
